<h1 class="heading-1 text-center">Radio Buttons</h1>

<sm-tabs style="display: flex; justify-content: center; max-width: 600px; margin: 0 auto;">
  <sm-tab>
    Example
  </sm-tab>
  <sm-tab>
    Code
  </sm-tab>
  <sm-tab-content>
    <sm-radio-group groupLabel="Please select the type of label you like">
      <sm-radio-btn id="short" label="Short">
        <input type="radio" id="short" name="gender" value="short" />
      </sm-radio-btn>
      <sm-radio-btn id="long"
        label="I like super super super super super super super super super super super super long labels">
        <input type="radio" id="long" name="gender" value="long" />
      </sm-radio-btn>
      <sm-radio-btn id="disabled" label="Disabled labels" [disabled]="true">
        <input type="radio" id="disabled" name="gender" disabled value="disabled" />
      </sm-radio-btn>
    </sm-radio-group>
  </sm-tab-content>
  <sm-tab-content>
    <pre class="code"><![CDATA[
<sm-radio-group groupLabel="Please select the type of label you like">
  <sm-radio-btn id="short" label="Short">
    <input type="radio" id="short" name="gender" value="short" />
  </sm-radio-btn>
  <sm-radio-btn id="long"
    label="I like super super super super super super super super super super super super long labels">
    <input type="radio" id="long" name="gender" value="long" />
  </sm-radio-btn>
  <sm-radio-btn id="disabled" label="Disabled labels" [disabled]="true">
    <input type="radio" id="disabled" name="gender" disabled value="disabled" />
  </sm-radio-btn>
</sm-radio-group>]]></pre>
  </sm-tab-content>
</sm-tabs>