.spacing {
  display: flex;
  justify-content: space-between;
  padding: spacing(l) spacing(giant);
  @media screen and (max-width: 570px) {
    padding: spacing(m) spacing(l);
  }
}

.token {
  display: inline-block;
  width: 100px;
}

.sp {
  border: border(sm);
  background: color(pink);
  &-xxs {
    width: spacing(xxs);
    height: spacing(xxs);
  }
  &-xs {
    width: spacing(xs);
    height: spacing(xs);
  }
  &-sm {
    width: spacing(sm);
    height: spacing(sm);
  }
  &-m {
    width: spacing(m);
    height: spacing(m);
  }
  &-b {
    width: spacing(b);
    height: spacing(b);
  }
  &-l {
    width: spacing(l);
    height: spacing(l);
  }
  &-xl {
    width: spacing(xl);
    height: spacing(xl);
  }
  &-xxl {
    width: spacing(xxl);
    height: spacing(xxl);
  }
  &-xxxl {
    width: spacing(xxxl);
    height: spacing(xxxl);
  }
  &-huge {
    width: spacing(huge);
    height: spacing(huge);
  }
  &-giant {
    width: spacing(giant);
    height: spacing(giant);
  }
}

.textstyle {
  display: block;
  text-align: center;
  width: 50%;
  padding: spacing(xs) spacing(huge);
  .heading-1 {
    @include text(heading-1);
    padding: 0;
  }
  .heading-2 {
    @include text(heading-2);
  }
  .heading-3 {
    @include text(heading-3);
  }
  .heading-4 {
    @include text(heading-4);
  }
  .heading-5 {
    @include text(heading-5);
  }
  .heading-6 {
    @include text(heading-6);
  }
  .body {
    @include text(body);
  }
}

.color {
  display: block;
  text-align: center;
  min-width: 50%;
  color: color(white);
  margin: spacing(b) auto;

  .primary {
    background-color: color(primary);
    height: 2rem;
    line-height: 2rem;
  }
  .primary-hover {
    background-color: color(primary-hover);
    height: 2rem;
    line-height: 2rem;
  }
  .primary-focus {
    background-color: color(primary-focus);
    height: 2rem;
    line-height: 2rem;
  }
  .primary-active {
    background-color: color(primary-active);
    height: 2rem;
    line-height: 2rem;
  }
  .secondary {
    background-color: color(secondary);
    color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
  .secondary-hover {
    background-color: color(secondary-hover);
    height: 2rem;
    line-height: 2rem;
  }
  .secondary-focus {
    background-color: color(secondary-focus);
    height: 2rem;
    line-height: 2rem;
  }
  .secondary-active {
    background-color: color(secondary-active);
    height: 2rem;
    line-height: 2rem;
  }
  .tertiary {
    background-color: color(tertiary);
    color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
  .tertiary-hover {
    background-color: color(tertiary-hover);
    height: 2rem;
    line-height: 2rem;
  }
  .tertiary-focus {
    background-color: color(tertiary-focus);
    color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
  .tertiary-active {
    background-color: color(tertiary-active);
    height: 2rem;
    line-height: 2rem;
  }
  .text {
    background-color: color(text);
    height: 2rem;
    line-height: 2rem;
  }
  .text-light {
    background-color: color(text-light);
    height: 2rem;
    line-height: 2rem;
  }
  .text-primary {
    color: color(black);
    background-color: color(text-primary);
    height: 2rem;
    line-height: 2rem;
  }
  .text-secondary {
    background-color: color(text-secondary);
    height: 2rem;
    line-height: 2rem;
  }
  .border-primary {
    background-color: color(border-primary);
    height: 2rem;
    line-height: 2rem;
  }
  .background {
    background-color: color(background);
    color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
  .background-2 {
    background-color: color(background-2);
    height: 2rem;
    line-height: 2rem;
  }
  .pink {
    background-color: color(pink);
    height: 2rem;
    line-height: 2rem;
  }
  .black {
    background-color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
  .white {
    background-color: color(white);
    color: color(black);
    height: 2rem;
    line-height: 2rem;
  }
}

.border {
  display: block;
  text-align: center;
  min-width: 50%;
  color: color(black);
  margin: spacing(b) auto;
  &-sm {
    border: border(sm) color(border-primary);
  }
  &-md {
    border: border(md) color(border-primary);
  }
  &-lg {
    border: border(lg) color(border-primary);
  }
}
