$sm-primary: #027fe6;
$sm-primary-hover: #006dc7;
$sm-primary-focus: #0058a0;
$sm-primary-active: #004c8a;

$sm-secondary: #ffffff;
$sm-secondary-hover: #006dc7;
$sm-secondary-focus: #0058a0;
$sm-secondary-active: #004c8a;

$text-primary: #ffffff;
$text-secondary: #027fe6;
$text: #6f6f6f;


$border-primary: #888888;