<h1 class="heading-1 text-center">CTA Buttons</h1>

<sm-tabs style="display: flex; justify-content: center;">
  <sm-tab>
    Example
  </sm-tab>
  <sm-tab>
    Code
  </sm-tab>
  <sm-tab>
    Props
  </sm-tab>
  <sm-tab-content>
    <sm-button field_id="primary" (click)="buttonClicked='Primary clicked!'">Primary</sm-button>
    <sm-button type="secondary" (click)="buttonClicked='Secondary clicked!'">Secondary</sm-button>
    <sm-button type="tertiary" (click)="buttonClicked='Tertiary clicked!'">Tertiary</sm-button>
    <br/>
    buttonClicked: {{buttonClicked}}
  </sm-tab-content>
  <sm-tab-content>
    <pre class="code"><![CDATA[
  <sm-button field_id="primary">Primary</sm-button>
  <sm-button type="secondary">Secondary</sm-button>
  <sm-button type="tertiary">Tertiary</sm-button>]]></pre>
  </sm-tab-content>
  <sm-tab-content>
    <pre><![CDATA[
  @Input() field_id = `sm-button-${uniqueId++}`;
  @Input() type: 'secondary' | 'tertiary';]]></pre>
  </sm-tab-content>
</sm-tabs>