<h1 class="heading-1 text-center">Date Picker</h1>

<sm-tabs style="display: flex; justify-content: center;">
  <sm-tab>
    Default
  </sm-tab>
  <sm-tab>
    Range
  </sm-tab>
  <sm-tab>
    Code
  </sm-tab>
  <sm-tab-content>
    <div style="min-width: 400px; min-height: 500px">
      Default:
      <sm-date-picker></sm-date-picker>
    </div>
  </sm-tab-content>
  <sm-tab-content>
    <div style="min-width: 400px; min-height: 500px">
      Range:
      <sm-date-picker [range]="true"></sm-date-picker>
    </div>
  </sm-tab-content>
  <sm-tab-content>
    <pre class="code"><![CDATA[
  <!-- Default Date picker -->
  <sm-date-picker></sm-date-picker>

  <!-- Range Date picker -->
  <sm-date-picker [range]="true"></sm-date-picker>]]></pre>
  </sm-tab-content>
</sm-tabs>