<h1 class="heading-1 text-center">Date Picker</h1>

<sm-tabs style="display: flex; justify-content: center;">
  <sm-tab>
    Default
  </sm-tab>
  <sm-tab>
    Code
  </sm-tab>
  <sm-tab-content>
    <div style="min-width: 400px; min-height: 500px">
      Default:
      <sm-date-picker></sm-date-picker>
    </div>
    <div style="min-width: 400px; min-height: 500px">
      Range:
      <sm-date-picker [range]="true"></sm-date-picker>
    </div>
  </sm-tab-content>
  <sm-tab-content>
    <pre class="code"><![CDATA[
<sm-input id="username" label="Username"></sm-input>
<sm-input type="password" label="Password"></sm-input>]]></pre>
  </sm-tab-content>
</sm-tabs>