<h1 class="heading-1 text-center">Tooltips</h1>

<sm-tabs style="display: flex; justify-content: center;">
  <sm-tab>
    Example
  </sm-tab>
  <sm-tab>
    Code
  </sm-tab>
  <sm-tab>
    Props
  </sm-tab>
  <sm-tab-content style="height: 128px">
    <p>The tip window will adjust depending on where on the screen the initator button is</p>
    <sm-tooltip tooltipLabel="Default tooltip" tooltipAriaLabel="This is a default tooltip">
      Lorem ipsum dolor sit amet
    </sm-tooltip>
    <div style="padding: 32px 0px; width: 150px">
      <sm-tooltip tooltipAriaLabel="This is a tooltip with a long wrapping label"
        tooltipLabel="Super long long long long long long wrapping label">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore
      </sm-tooltip>
    </div>
    <p>It should be used within it's parent elements boundaries</p>
  </sm-tab-content>
  <sm-tab-content>
    <pre class="code"><![CDATA[
<sm-tooltip tooltipLabel="Default tooltip" tooltipAriaLabel="This is a default tooltip">
  Lorem ipsum dolor sit amet
</sm-tooltip>
<sm-tooltip tooltipAriaLabel="This is a tooltip with a long wrapping label"
  tooltipLabel="Super long long long long long long wrapping label">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  dolore
</sm-tooltip>]]></pre>
  </sm-tab-content>
  <sm-tab-content>
    @Input('tooltipId') tooltipId: string = 'sm-tooltip-' + (++uniqueId);<br>
    @Input('tooltipLabel') tooltipLabel: string = 'Label ' + uniqueId;<br>
    @Input('tooltipAriaLabel') tooltipAriaLabel: string = this.tooltipLabel + '. Open tooltip';
  </sm-tab-content>
</sm-tabs>